.nav {

	text-align:center; 
	list-style:none;
	margin:0;
	padding:0;
	border:5px solid #F0F8FF;
	background-color:ivory;
	font-family: 'Inconsolata', monospace;
	text-transform: uppercase;
}
.nav li{

	display:inline-block;
}
.nav a{
	color:black;
	display:inline-block;
	padding:12px;
}
